@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Lexend", sans-serif !important;
}

.container {
  padding-inline: 2em;
  padding-top: 4em;
  display: flex;
  gap: 1em;
}

h2 {
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

button {
  background: #2a76ac;
  color: #fff !important;
  border-radius: 25px;
  font-weight: 400 !important;
  border: unset;
  cursor: pointer;
  outline: 1px solid #fff;
  padding: 0.6em 1.2em;
  margin-top: 8px;
  user-select: none;
  transition: all 0.3s ease;
}

button:active {
  background: #00000046;
  outline: 2px solid #000;
  outline-offset: 1px;
}

.currentPlanSec {
  background: #fff;
  padding: 1em 1.5em;
  border-bottom: 3px;
  min-height: 204px;
  flex: 2;
}

.currentPlanSec h2 {
  color: #2d2d2d;
}

.currentPlanSec ul {
  padding: 0;
  margin-top: 2em;
  margin-bottom: 3em;
}

.currentPlanSec ul li {
  display: flex;
  justify-content: space-between;
  color: #2d2d2d !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  margin-bottom: 0.2em;
}

.currentPlanSec ul li p {
  min-width: 10rem;
}

.currentPlanSec button {
  padding: 1em 3em;
}

.yourPlansec {
  border-radius: 5px;
  background: #fff;
  flex: 0;
  height: fit-content;
  padding: 0 0;
  visibility: hidden;
  max-width: 0;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2em;
}

.form {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1.5em;
}

.formItem input[type="text"] {
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  outline: unset;
  padding: 1em 1.5em;
}

.formItem input[type="submit"] {
  outline: unset;
  padding: 1em 2em;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}

.formItem input[type="text"]:focus {
  outline: 2px solid #e3e3e3;
}

.formItem ::placeholder,
.formItem :-ms-input-placeholder,
.formItem ::-ms-input-placeholder {
  color: #e3e3e3;
  font-size: 16px;
  font-weight: 400;
}

/* other Avaibale Plan Section::  */
.containerAvailablePlans {
  padding-inline: 2em;
  padding-top: 1em;
  padding-right: 3em;
}

.divider {
  padding: 0.7em 1em;
  border-radius: 10px;
  background: #fff;
  color: #2d2d2d;
  font-size: 24px;
  font-weight: 700;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  padding: 1em 3em 1em 2em;
  border-bottom: 3px;
  justify-content: center;
  gap: 3em;
}

.plancard {
  background-color: white;
  padding: 1em 1.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
}

.price {
  font-size: 24px;
  font-weight: 500;
}

.layer2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.radioPlan label {
  padding: 10px !important;
  height: auto !important;
  margin-bottom: 10px;
}
